.header {
  margin-top: 10px;
  font-size: larger;
  font-weight: 500;
  text-decoration: overline;
}

.border {
  padding-left: 20px;
  padding-right: 10px;
}

.responsibilities {
  font-weight: 500;
}

.contactheading {
  margin-top: 100px;
  text-align: center;
  font-weight: 500;
  font-size: larger;
}

.myicons {
  margin-right: 10px;
}
